#chat-screen {
  background-color: var(--chatting-background-color);
  height: 1000vh;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  background-color: var(--chatting-background-color);
  z-index: 1;
}
.main-chat {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  margin-bottom: 25px;
}
.chat__timestamp span {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 6px 13px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 8px;
}
.message__time,
.message__author {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
}
.message__author {
  display: block;
  margin-bottom: 8px;
}
.message__time {
  margin-left: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 9px 10px;
  border-radius: 12px;
  border-top-left-radius: 0px;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__time {
  margin-right: 5px;
  margin-left: 0px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 6px 24px 6px 8px;
  align-items: center;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply__column:first-child i {
  font-size: 26px;
}
.reply .reply__column:nth-child(2) {
  width: 90%;
}
.reply .reply__column:last-child {
  position: relative;
}
.reply input {
  height: 26px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding-left: 14px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  bottom: -13px;
}
.reply__column:last-child > i {
  left: -42px;
  font-size: 26px;
}
.reply__column:first-child,
.reply__column:last-child > i {
  color: rgba(0, 0, 0, 0.5);
}
.reply__column:last-child button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background-color: var(--yellow);
  left: -10px;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
