.badge {
  background-color: tomato;
  width: 18px;
  height: 18px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 12px;
}
.badge-small {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
