.find-icon__image {
  height: 20px;
}
.more-icon__image {
  height: 7px;
  position: absolute;
  top: 4px;
  right: -10px;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f9f9f9;
  padding: 16px 50px;
  box-sizing: border-box;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 12px;
  bottom: 10px;
}
.nav__changed {
  position: absolute;
  bottom: 3px;
  left: 8px;
}
