.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px var(--horizontal-space) 20px var(--horizontal-space);
}
.screen-header__title {
  font-size: 26px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 22px;
}
.screen-header__icons {
  position: relative;
}
.screen-header__changed {
  position: absolute;
  bottom: 16px;
  left: 88px;
}
